@import "mocha.css";

* {
  all: unset;
  font-family: Arial, "JetBrainsMono";
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background: repeating-linear-gradient(
    to right,
    alpha(@base, 0.2) 0px,
    alpha(@base, 0.4) 120px,
    alpha(@base, 0.4) 120px,
    alpha(@base, 0.2) 240px
  );
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* box-shadow: inset 0 -5px #6c7086; */
  color: @overlay2;
  border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: none;
  text-shadow: none;
  transition: none;
  border: none;
}

#workspaces button {
  min-width: 12px;
  padding: 0 3px 0 0;
  margin: 2px 0;
  background-color: transparent;
  color: @text;
  border-radius: 30px;
  transition:
    background-color 0.5s,
    color 0.5s,
    border-radius 0.5s;
}

#workspaces button.active:hover,
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @text;
  color: @base;
  transition:
    background-color 0.5s,
    color 0.5s,
    border-radius 0.5s;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.urgent {
  background-color: transparent;
  color: @text;
  animation-name: urgent-blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(12);
}

#custom-spotify-icon {
  background-color: @green;
  color: @base;
  padding-left: 4px;
  padding-right: 8px;
  margin: 6px 2px;
  margin-right: 0;
}

#tray {
  background-color: alpha(@base, 0.2);
  padding: 0 4px;
  margin: 6px 2px;
  border-radius: 6px;
}

/* Start nerd font hackery */
#custom-network.connected {
  padding-right: 7px;
}

#custom-network.disconnected {
  padding-right: 3px;
}

#custom-network {
  padding-right: 7px;
}

#custom-cpu-icon {
  padding-right: 4px;
}

#custom-memory-icon {
  padding-right: 2px;
}

#custom-pa-output-icon {
  padding-right: 3px;
}

#custom-tray-icon {
  padding-right: 4px;
}
/* End nerd font hackery */

@keyframes urgent-blink {
  to {
    color: @peach;
  }
}

/* Volume slider */
#pulseaudio-slider {
  padding: 0;
  padding-left: 5px;
}

#pulseaudio-slider slider {
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: @base;
  border: none;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @red;
  border: none;
}

#custom-separator {
  color: alpha(@overlay2, 0.8);
}

#custom-padding-xl {
  padding: 0 10px;
}

/* Conditional modules */
#custom-checkupdates {
  padding-right: 3px;
}

/* Drawer padding */
.pa-output-drawer > .module,
.memory-drawer > .module {
  padding-left: 7px;
}

.cpu-drawer > .module,
.tray-drawer > .module {
  /* nerd font */
  padding-left: 5px;
}

.popup {
  background: alpha(@base, 0.4);
}

tooltip {
  background: @base;
}
