#waybar.workspaces {
  background: transparent;
}

#custom-window-count {
  padding-bottom: 6px;
}

#waybar.workspaces {
  background-color: transparent;
}

#waybar.workspaces .modules-center {
  background-color: @base00;
  padding: 8px 3px 8px 0;
  color: alpha(@base07, 0.7);
  border-radius: 12px;
}